//Import colors
@import "./variables.scss";
//Navigation
header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.grid-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  // height: 40px;
  // background-color: $bg-color-primary;
  // backdrop-filter: blur(5px);
  color: $color-primary;
  backdrop-filter: blur(15px);
  background: hsla(211, 43%, 63%, 0.3);
  align-items: center;
}
.nav-item {
  text-align: center;
  align-self: center;
}
.plus {
}

.hamburger-menu {
}
.hamburger-menu,
.plus {
  font-size: 1.5rem;
}
.city {
  text-transform: uppercase;
  text-align: right;
}
.country {
  text-transform: uppercase;
  text-align: left;
}

.additional-windows {
  grid-column: span 4;
  padding: 10px;
}
